.editor-root {
  [data-type=editor-container].root {

    div[data-type=editor-block].list-block+div[data-type=editor-block].list-block {
      margin-top: 0.4em;
    }

    div[data-type=editor-block].list-block {
      &.full-selected {
        background-color: var(--background-selection);
      }

      div[data-type=editor-container].child.selected {
        background-color: var(--background-selection);
      }

      div[data-type=block-content] {
        div.editor-list-root {
          div.list-text-root {
            display: flex;

            .list-marker {
              width: 24px;
              text-align: right;
              display: flex;
              justify-content: flex-end;
              align-items: flex-start;
              flex-shrink: 0;
              line-height: 1.4em;
              padding-right: 4px;
              white-space: nowrap;
              color: var(--primary-color);
            }
          }
          div.list-child-root {
            padding-left: 24px;

            > [data-type=editor-container].child {
              > :first-child {
                margin-top: 0.4em;
              }
              > *+* {
                margin-top: 0.4em;
              }  
            }


          }
        }
      }
    }
  }
}
